{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <div class="main-form-container manual">
        {% if validlink %}
            <h2>{% trans 'Enter new password' %}</h2>
            <form action="" method="post" class="standard-form">
                {% csrf_token %}
                <fieldset>
                    <ul>
                        <li>
                            {{ form.new_password }}
                            {{ form.new_password.errors }}
                        </li>
                        <li>
                            <button type="submit" class="btn btn-primary">{% trans "Change my password" %}</button>
                        </li>
                    </ul>
                </fieldset>
            </form>

        {% else %}
            <h2>{% trans 'Password reset unsuccessful' %}</h2>
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
    </div>
{% endblock %}
