{% extends 'base.html' %}
{% load i18n %}

{% block title %}Privacy policy{% endblock %}

{% block content %}
    <div class="main-form-container manual">
        <div id="manual">
            <h2>Privacy policy</h2>

            <h3>General Information</h3>
            We collect the e-mail addresses of those who communicate with us via e-mail, aggregate
            information on what pages consumers access or visit, and information volunteered by the
            consumer (such as survey information and/or site registrations). The information we
            collect is used to improve the content of our Web pages and the quality of our service,
            and is not shared with or sold to other organizations for commercial purposes, except to
            provide products or services you've requested, when we have your permission, or under
            the following circumstances:
            <ul>
                <li>It is necessary to share information in order to investigate, prevent,
                    or take action regarding illegal activities, suspected fraud, situations
                    involving potential threats to the physical safety of any person, violations of
                    <a href="{% url terms %}">Terms of Service</a>, or as otherwise required by law.
                </li>
                <li>We transfer information about you if Prestashop-Sync is acquired by or merged
                    with another company. In this event, Prestashop-Sync will notify you before
                    information about you is transferred and becomes subject to a different privacy
                    policy.
                </li>
            </ul>
            <h3>Information Gathering and Usage</h3>

            <p>When you register for Prestashop-Sync, we ask for information such as your name,
                email address, billing address. Members who sign up for the free account are not
                required to enter a billing address and name.<br>
                Prestashop-Sync uses collected information for the following general purposes:
                products and services provision, billing, identification and authentication,
                services improvement, contact, and research.
            </p>

            <h3>Cookies</h3>

            <p>A cookie is a small amount of data, which often includes an anonymous unique
                identifier, that is sent to your browser from a web site's computers and stored on
                your computer's hard drive.
                Cookies are required to use the Prestashop-Sync service.
                We use cookies to record current session information, but do not use permanent
                cookies. You are required to re-login to your Prestashop-Sync account after a
                certain period of time has elapsed to protect you against others accidentally
                accessing your account contents.
            </p>

            <h3>Data Storage</h3>

            <p>Prestashop-Sync uses third party vendors and hosting partners to provide the
                necessary hardware, software, networking, storage, and related technology required
                to run Prestashop-Sync . Although Prestashop-Sync owns the code, databases, and all
                rights to the Prestashop-Sync application, you retain all rights to your data.
            </p>

            <h3>Disclosure</h3>

            <p>Prestashop-Sync may disclose personally identifiable information under special
                circumstances, such as to comply with subpoenas or when your actions violate the
                <a href="{% url terms %}">Terms of Service</a>.
            </p>

            <h3>Changes</h3>

            <p>Prestashop-Sync may periodically update this policy. We will notify you about
                significant changes in the way we treat personal information by sending a notice to
                the primary email address specified in your Prestashop-Sync primary account holder
                account or by placing a prominent notice on our site.
            </p>

            <h3>Questions</h3>

            <p>
                Any questions about this Privacy Policy should be addressed to <a
                    href="mailto:support@prestashop-sync.com">support@prestashop-sync.com</a>.</p>

        </div>
    </div>
{% endblock %}
