@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$icons: sprite-map("archive/*.png", $archive-middle-repeat: repeat-x,
$archive-top_background-repeat: repeat-x, $archive-small_top_back-repeat: repeat-x);
$payment: sprite-map("archive/payment_logos/*.png");
$main-width: 900px;
$tip-width: 208px;
$tip-margin: 20px;
$main-field-width: 332px;


@import "mixins";
@import "nav";
@import "main";
@import "badges";
@import "pay_options";
@import "battery";
